# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
vendor/

# Build
/tmp/
/dist/
/build/

# Env
.env
.env.prod

# App
screen/
uploads/
thumbnails/
internal/utils/outputs/
outputs/

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE
.idea/
.vscode/
*.suo
*.sln
keys.json

temp/
