# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
vendor/

# Build
/tmp/
/dist/
/build/

# Env
.env

# App
uploads/
thumbnails/

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE
.idea/
.vscode/
*.suo
*.sln

temp/
